@import './../node_modules/react-selectize/themes/index.css';
@import './../node_modules/react-s-alert/dist/s-alert-default.css';
@import './../node_modules/react-s-alert/dist/s-alert-css-effects/bouncyflip.css';

.select-input {
  width: 70px !important;
}

.s-alert-success {
  background: rgba(42,45,50,0.95)!important;
}

.react-selectize {
  margin: auto !important;
  width: 80% !important;
}

.dropdown-menu {
  margin: auto !important;
  width: 100% !important;
  background-color: #e3e3e3 !important;
}

.top-select > .dropdown-menu {
  bottom: 100% !important;
}

input[type="text"]:disabled {
  background: #dddddd;
}

.App {
  text-align: center;
}

.col-50 {
  width: 50%;
  float: left;
  margin: 20px 0;
}

.col-50.withButton button {
  height: 28px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 1.34em;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------ */

.form-container {
  width: 80%;
  margin: auto;
  height: 100%;
  padding-top: 50px;
}
.form-input-container {
  text-align: left;
  margin-left: 15px;
}

.form-input-container label {
  margin-right: 15px;
}
.editable-list-input-container {

}

.container {
  width: 100%;
  height: calc(100vh - 110px);
  margin-top: calc(28px + 0.67em * 3);
  overflow: auto;
}

.table-container {
  width: 90%;
  margin: auto;
}

.add-btn-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.add-btn,
.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.edit-btn {
  padding: 6px;
}

.add-btn-icon {
  width: 24px;
  height: 24px;
}

.edit-btn-icon {
  width: 14px;
  height: 14px;
}

.delete-btn-icon {
  width: 16px;
  height: 24px;
}

.table-btn {
  text-align: right;
}

.table-btn button {
  margin: 10px;
}

/* modal */

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 0 10px;
}

.modal-header .close {
  align-self: center;
}

.modal-content {
  width: 665px;
}

.modal-body {
  margin: 20px 0;
  padding: 0 10px;
  overflow: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(15, 15, 15, 0.95) !important;
}

.ReactModal__Body--open .ReactModalPortal .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
  padding: 0 !important;
  max-height: calc(100vh - 85px);
  overflow: auto !important;
}

::-webkit-scrollbar,
::-moz-viewport-scroll {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.select-skill {
  float: left;
}

.name-input-container {
  margin: 15px;
  min-height: 16px;
}

.name-input-container input {
  width: 70%;
  display: inline-block;
}
.name-input-container label {
  text-align: left;
  width: 20%;
  display: inline-block;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-container {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.new-inputs-container {
  margin: auto;
  text-align: center;
}

.new-inputs-container input, 
td input {
  text-align: center;
  margin: 5px;
  background: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 3px;
}

.modal-body td[colspan="2"] {
  text-align: center;
}

.modal-body td:nth-child(2) {
  border-right: none;
}

.modal-body td:nth-child(3) {
  text-align: center;
  border-left: none;
}

.modal-body td label {
  width: calc(100% - 20px);
  display: block;
  margin: 10px;
}

.AddWave-button {
  text-align: right;
}

.three-inputs input,
.select-3 {
  width: calc(100% / 2 - 70px);
  padding-left: 5px;
  display: inline-block;
}

button {
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}
.add-new-input-btn-container {
  text-align: center;
  margin: 10px;
}

.add-new-input-btn-container button {
  width: 60px;
}

.new-inputs {
  margin-left: 5px;
}

.btn-add-value {
  margin-top: 5px;
}

.btn-edit-input {
  margin: 5px;
}

.btn-edit-input button {
  margin: 5px;
}

.remove-component {
  text-align: right;
  margin: 10px;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*table styles*/

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;
}

table>thead>tr th {
  line-height: 40px;
}

table>tbody>tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.9);
}

table>tbody>tr>td {
  border-radius: 0;
  padding: 5px;
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.custom-label {
  text-align: center;
  min-width: 190px;
  display: inline-block;
}


.phantom-div {
  width: 90px;
  display: inline-block;
}

.custom-select {
  margin-bottom: -15px;
}