.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 140px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* ------------------------------------------ */
.container{
  width: 100%;
  height: calc(100vh - 205px);
  margin: auto;
}

.table-container {
  width: 90%;
  margin: auto;
}

.add-btn-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.add-btn,
.edit-btn,
.delete-btn{
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.edit-btn{
  padding: 6px;
}
.add-btn-icon{
  width: 24px;
  height: 24px;
}
.edit-btn-icon{
  width: 14px;
  height: 14px;
}
.delete-btn-icon{
  width: 16px;
  height: 24px;
}


/* modal */

.modal-header{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 0 10px;
}
.modal-header .close{
  align-self: center;
}
.modal-content{
  width: 665px;
}
.modal-body{
  margin: 20px 0;
  padding: 0 10px;
}
.modal-footer{
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}
.ReactModal__Overlay--after-open{
  background-color: rgba(15, 15, 15, 0.95) !important;

}
.ReactModal__Body--open .ReactModalPortal .ReactModal__Overlay--after-open .ReactModal__Content--after-open{
  padding: 0 !important;
  max-height: calc(100vh - 85px);
  overflow-y: scroll !important;
}
::-webkit-scrollbar,
::-moz-viewport-scroll{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.select-skill{
  float: left;
}
.new-inputs{
  text-align: right;
  /*margin-right: 68px;*/
}
.btn-add-value{
  text-align: right;
  margin-top: 5px;
}
.btn-edit-input{
  text-align: right;
  margin-bottom: 5px;
}

.btn-remove-select{
  text-align: left;
  margin-bottom: 10px;
}
footer{
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*table styles*/
table, th, td {
    border: 1px solid rgba(0,0,0,0.12);
}
table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
table > thead > tr th {
    line-height: 40px;
}
table > tbody > tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.9);
}
table > tbody > tr > td {
    border-radius: 0;
    padding: 5px;
}